.jcarousel-container {
    background: #8a988e;
    border: 1px solid #4f6b68;
    border-left: none; border-right: none;
    position: relative;
    margin: -21px 0 20px;
}

	/* full-width bar */
	.jcarousel-container:before, .jcarousel-container:after {
		content: "";
		position: absolute;
		background: #8a988e;
		top: -1px; bottom: -1px;
		border: 1px solid #4f6b68;
		border-left: none; border-right: none;
		width: 1000px;
	}
	.jcarousel-container:before {
	   right: 100%;
	}
	.jcarousel-container:after {
	   left: 100%;
	}
	/* prevent horiz scrolling */
	html, body {
	    overflow-x: hidden;
	}
.jcarousel-container-horizontal {
    width: 810px;
    padding: 3px 45px;
    max-width: 85%;
}

.jcarousel-clip {
    overflow: hidden;
}

.jcarousel-clip-horizontal {
    width:  810px;
    height: 86px;
    max-width: 95%;
}

.jcarousel-item {
    width: 128px;
    height: 90px;
    text-align: center;
}

.jcarousel-item-horizontal {
	margin: 4px 35px 0 4px;
}

.jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/*
 *  nav buttons
 */

.jcarousel-next-horizontal,
.jcarousel-prev-horizontal {
    position: absolute;
    top: 28px; 
    width: 31px; height: 35px;
    cursor: pointer;
    opacity: 0.7;
    background: transparent url(../i/carousel-arrows.png) no-repeat -31px 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	transition: opacity 0.3s;	
}

.jcarousel-next-horizontal {
	right: 5px;
}

.jcarousel-next-horizontal:hover,
.jcarousel-next-horizontal:focus,
.jcarousel-prev-horizontal:hover, 
.jcarousel-prev-horizontal:focus {
    opacity: 1;
}

.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active,
.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:focus,
.jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    opacity: 0.1;
}

.jcarousel-prev-horizontal {
	left: 5px;
	background-position: 0 0;
}

/* jsb */

.jcarousel-container li a {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 13px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
}

.jcarousel-container li a span {
	background-position: 0 -36px;
	display: block;
	border: 2px solid #f09e39;
	width: 128px; height: 56px;
	position: relative;
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);
	overflow: hidden;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.jcarousel-container li a:hover span {
	border: 2px solid #fff;		/* maybe. */
}

.jcarousel-container li a span img {
	position: absolute;
	top: -36px; left: 0;
	opacity: 0.07;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.jcarousel-container li a:hover span img {
	opacity: 1;
}
