form {
	display: block;
	padding-top: 20px;
	overflow: auto;
}
label {
	float: left; clear: both;
	width: 12em;
	vertical-align: top;
	margin: 0 0.6em 1em 0;
}
input, textarea {
	float: left;
	width: 26em;
	vertical-align: top;
	margin-bottom: 1em;

	font: 15px/20px Courier New, Courier, sans-serif;
	color: #222;

	border: 1px solid #777;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-transition: border 0.2s, box-shadow 0.2s;
	-moz-transition: border 0.2s, box-shadow 0.2s;
	-ms-transition: border 0.2s, box-shadow 0.2s;
	transition: border 0.2s, box-shadow 0.2s;

	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
textarea {
	height: 6em;
}
input:focus, textarea:focus {
	outline: 0;
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 7px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 7px 2px rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 7px 2px rgba(0,0,0,0.4);
	
}

input.submit {
	clear: both;
	padding: 5px 20px;
	font-size: 17px;
	margin-left: 11em;
	width: auto;
}

::-webkit-input-placeholder { color: #888; }
:-moz-placeholder {	color: #888; }
:-ms-input-placeholder { color: #888; }