/*
 * NAVIGATION
 *
 */


#topNav {
  width: 100%;
  background:#000;
  height: 44px;
  border-bottom: 4px solid #b0c791;
  text-align: center;

  ul, ul li {
    display: inline-block;
    zoom: 1; *display:inline;	/* ie */
    margin: 0; padding: 0;
  }
  ul {
    width: 900px;
    max-width: 100%;
  }

  a {
    display: block;
    margin: 0 15px;
    padding:10px 10px 12px;

    text-decoration: none;
    position: relative;
    color: #ddd;
    font: 21px/25px "Salaman", Courier New, Courier, sans-serif;

    b { font-weight: normal }
  }

  .active a {
    color: #b1c892;
  }
  a:hover {
    color: #f09e39;
  }

  img {
    background: #bbb;
    margin-right: 12px;
    vertical-align:middle;
  }
  a:hover img,
  .active a:hover img {
    background: #f09e39;
  }
  .active a img {
    background: #b1c892;
  }

  img, a {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
  }

  a#whoWeAre span {
    position: absolute; top: 12px; left: 10px;
    width: 23px; height: 26px;
    z-index: 100;
    background: none;
  }
  a#whoWeAre:hover span {
    background: url(../i/nav/blink.gif);
  }
}

@media only screen and (max-width:900px) {
  #topNav a {
    margin-left: 7px;
    margin-right: 7px;
    font-size: 16px;
  }
}

@media only screen and (max-width:700px) {
  b { display: none }
}

/*
 * SHARED ELEMENTS
 *
 */

body {
  text-align:center;
  color: #fff;
  font: 15px/20px "Salaman", Courier New, Courier, sans-serif;
}

a {
  color: #f09e39;
  text-decoration: none;


  &.inv {
    color: #fff;
    background: #b1c892;
    background: rgba(255,255,255,.14);
    padding: 2px;
    border: 1px solid transparent;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);

    &:hover {
      border: 1px dotted #fff;
    }
  }
}


/* all buttons */
button.orange, input.submit, a.orange {
  -moz-box-shadow: inset 0px 1px 3px 0px #ffffff, 0px 0px 7px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0px 1px 3px 0px #ffffff, 0px 0px 7px 2px rgba(0,0,0,0.3);
  box-shadow:inset 0px 1px 3px 0px #ffffff, 0px 0px 7px 2px rgba(0,0,0,0.3);

  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #c28344;

  background-color:#d58600;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.01));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.35)), to(rgba(255, 255, 255, 0.01)));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.01));

  display:inline-block;
  color:#fff;
  font-family:"Salaman", Courier New, Courier, sans-serif;
  font-size:19px;
  padding:8px 28px;
  text-decoration:none;
  text-shadow:1px 1px 0px #80581b;
  cursor: pointer;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  transition: background-color 0.2s;

  &:hover {
    background-color:#ed9500;
  }
  &:active {
    position:relative;
    top:1px; left: 1px;
    -moz-box-shadow: inset 0px 1px 3px 0px #ffffff, 0px 0px 3px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0px 1px 3px 0px #ffffff, 0px 0px 3px 1px rgba(0,0,0,0.5);
    box-shadow:inset 0px 1px 3px 0px #ffffff, 0px 0px 3px 1px rgba(0,0,0,0.5);
  }
}

input.submit:disabled {
  cursor: default;
}

p.big, .big p {
  font: 23px/29px "Salaman", Courier New, Courier, sans-serif;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
}

#planets div {
  position: absolute;
  text-indent: -1000em;
  @media only screen and (max-width:500px) {
    z-index: -1
  }
}

#footer {
  position: fixed;
  z-index: 100;
  bottom: 0; left: 0;
  width: 100%; height: 50px;
  background: url(../i/grass.png) repeat-x;

  .footContents {
    width: 910px;
    margin: 0 auto;
    max-width: 95%;
  }
  .fb-like {
    width: 100px;
    margin: 26px auto 0;
    position: relative;
    text-align: left;
    float: left;
  }

  .copyR {
    float: right;
    margin: 26px 0 0;
    color: rgba(255,255,255,0.8);
    font-size: 13px;
  }
}

.dropshad {	/* generic */
  -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
}

img.floatR {
  float:right;
  margin:0 0 20px 20px
}


/*
 * INNER
 *
 */

  // helpers for body background
  .singleBack(@L:#89a682, @R:#4b7570) {
    background: @L;
    background: -moz-linear-gradient(left,  @L 0%, @R 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,@L), color-stop(100%,@R));
    background: -webkit-linear-gradient(left,  @L 0%,@R 100%);
    background: -o-linear-gradient(left,  @L 0%,@R 100%);
    background: -ms-linear-gradient(left,  @L 0%,@R 100%);
    background: linear-gradient(to right,  @L 0%,@R 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{@L}', endColorstr='{@R}',GradientType=1 );
  
    background-repeat: repeat-y ;
  }
  
  .doubleBack(@img, @L:#89a682, @R:#4b7570) {
    background: @L url(@img);
    background: url(@img), -moz-linear-gradient(left,  @L 0%, @R 100%);
    background: url(@img), -webkit-gradient(linear, left top, right top, color-stop(0%,@L), color-stop(100%,@R));
    background: url(@img), -webkit-linear-gradient(left,  @L 0%,@R 100%);
    background: url(@img), -o-linear-gradient(left,  @L 0%,@R 100%);
    background: url(@img), -ms-linear-gradient(left,  @L 0%,@R 100%);
    background: url(@img), linear-gradient(to right,  @L 0%,@R 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{@L}', endColorstr='{@R}',GradientType=1 );
  
    background-position: 100% 30px, 0 0 ;
    background-repeat: no-repeat, repeat-y ;
  }

body {
  .singleBack();

  &.pic-shuttle { .doubleBack('../i/bgpics/shuttle.png') }
  &.pic-sii     { .doubleBack('../i/bgpics/sii-exploded.png') }
  &.pic-naut    { .doubleBack('../i/bgpics/naut.png') }
  &.pic-lunar   { .doubleBack('../i/bgpics/lunar.png');
                    background-position: 100% 130px, 0 0;  }
}


/* head */

#headSection {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
#headContainer {
  width: 900px;
  position: relative;
  margin: 45px auto;
  max-width: 95%;
}
h1 {
  width: 226px; height: 66px;
  background: url(../i/logo.png) no-repeat;
  text-indent: -1000em;
  float: left;

  a {
    display: block;
    width: 226px; height: 66px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;

    &:hover { background: rgba(255,255,255,0.2) }
  }
}

#headSection .orange {
  float: right;
}

@media only screen and (max-width:500px) {
  #headSection .orange {
    font-size: 15px;
    text-indent:-5000em;
    background-image: url("../i/envelope.png");
    background-repeat: no-repeat;
    background-size: 26px 16px;
    background-position: 50% 50%;
    padding-left: 0;
    padding-right: 0;
  }
}

#planets {
  clear: both;

  #p1 {
    top: -130px; left: 315px;
    background: url(../i/planets/4.png);
    width: 148px; height: 148px;
  }
  #p2 {
    top: -20px; left:-80px;
    background: url(../i/planets/6.png);
    width: 41px; height: 41px;
  }
  #p3 {
    top:60px; left: 260px;
    background: url(../i/planets/5.png);
    width:21px; height:21px;
  }
}

@media only screen and (max-width:600px) {
  #planets #p1 { top: -170px }
}


/* body */

#main {
  width: 930px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  max-width: 95%;
}
h2, h3 {
  font: 36px/36px "Salaman", Courier New, Courier, sans-serif;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.8);
}
h2 {
  white-space: nowrap;
}
@media only screen and (max-width:700px) {
  h2 { white-space: normal }
}


h3 {
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 0.5em;
  &.dots {
    display: inline;
    border-bottom: 1px dotted #fff;
  }
}
p, h4, li, label {
  margin: 0.8em auto;
  text-align:left;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
}
p.big, h4 {
  font: 22px/25px "Salaman", Courier New, Courier, sans-serif;
}
h4 {
  border-bottom: 1px dotted #fff;
  display: inline;
}
li {
  margin-left:  2em;
}

/* ==== */

/* basic page */

#basicPage {
  margin: 0 15px;
  padding-bottom: 65px;
}
