
/*
 * HOME PAGE
 *
 */

#home #main {
	width: 900px;
    max-width: 95%;
	margin: 0 auto;
	position: relative; overflow:hidden;
}
#home #copy {
	width: 640px;
    max-width:95%;
	margin: 0 auto;
}
#home #main h1 {
	text-indent: -1000em;
	background: url(../i/logo-big.png) no-repeat;
	width: 450px; height: 132px;
	margin: 40px auto 30px;
	float: none;	/* override below */
    max-width:100%;
    background-size:100%;
}
#home #main p {
	margin: 0.8em auto;
	text-align:left;
}
#icons {
	background: url(../i/icons.png) no-repeat;
	width: 487px; height: 47px;
	margin: 30px auto 90px;
	text-indent: -1000em;
}

#home #planets #p1 {
	top: -40px; left: 715px;
	background: url(../i/planets/1.png);
	width: 148px; height: 148px;
}
#home #planets #p2 {
	top: 263px; left:0;
	background: url(../i/planets/2.png);
	width: 50px; height: 50px;
}
#home #planets #p3 {
	top: 340px; left: 783px;
	background: url(../i/planets/3.png);
	width:103px; height:103px;
}

#home .orange {
	display: block;
	width: 400px;
	text-align: center;
	margin: 15px auto;
    max-width: 90%;
}
@media only screen and (max-width:500px) {
    #home .orange {width:auto}
}
