
/* override multiple background images */
.ie8 body {
	background-image: url(../i/gradient.png) !important;
	background-position: 50% 0 !important;
	background-repeat: repeat-y !important;
}

.ie p, 
.ie li,
.ie label,
.ie cite {
	text-shadow: none !important;
	color:  #2a302f !important;
}

.ie a.inv {
	color: #2a302f;
	background: #b1c892;
	background: rgba(255,255,255,.4);
	text-shadow: none;
}

.ie #topNav a#whoWeAre:hover span {
	background: none;
}