
h2 a.inv {
	display: block;
	float: right;
	font-size: 12px; line-height: 18px;
	height: 18px;
	margin-top: 9px;
	background: rgba(255,255,255,.4);
}

#portfolioCopy {
	display: inline-block;
	vertical-align: top;
	width: 500px;
}

p, li  {
	//text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
	font-size: 17px; line-height: 22px;
}

#portfolioStrut {
	display: inline-block;
	vertical-align: top;
	margin: 10px 0 0;
	width: 380px;
	margin-left: 16px;
}

@media only screen and (max-width:979px) {

    #portfolioCopy {
        display: block;
        width: 95%;
    }
    #portfolioStrut {
        display: block;
        margin: 30px 0 0 0;
        width: 95%;
    }

}
