a, abbr, acronym, address, article, audio,
b, blockquote, body,
center, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, html,
i, iframe, img, 
kbd, 
label, legend, li, 
nav,
object, ol, 
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tt,
u, ul, 
var{
	background:transparent;
	border:0 none;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:middle; }

/* jsb */
p,em,i,strong,b,a {
	vertical-align: baseline;
}