/*
 * NAVIGATION
 *
 */


#topNav {
	width: 100%;
	background:#000;
	height: 44px;
	border-bottom: 4px solid #b0c791;
	text-align: center;
}

#topNav ul, #topNav ul li {
	display: inline-block;
	zoom: 1; *display:inline;	/* ie */
	margin: 0; padding: 0;
}
#topNav ul {
	width: 900px;
}

#topNav a {
	display: block;
	margin: 0 15px;
	padding:10px 10px 12px;
	
	text-decoration: none;
	position: relative;
	color: #ddd;
	font: 21px/25px "Salaman", Courier New, Courier, sans-serif;
}
#topNav .active a {
	color: #b1c892;
}
#topNav a:hover {
	color: #f09e39;
}

#topNav img {
	background: #bbb;
	margin-right: 12px;
	vertical-align:middle;
}
#topNav a:hover img, #topNav .active a:hover img {
	background: #f09e39;
}
#topNav .active a img {
	background: #b1c892;
}

#topNav img, #topNav a {
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-ms-transition: all 0.25s;
	transition: all 0.25s;
}

#topNav a#whoWeAre span {
	position: absolute; top: 12px; left: 10px;
	width: 23px; height: 26px;
	z-index: 100;
	background: none;
}
#topNav a#whoWeAre:hover span {
	background: url(../i/nav/blink.gif);
}

/*
 * SHARED ELEMENTS
 *
 */

body {
	text-align:center;
	color: #fff;
	font: 15px/20px "Salaman", Courier New, Courier, sans-serif;
}
a {
	color: #f09e39;
	text-decoration: none;
}

a.inv {
	color: #fff;
	background: #b1c892;
	background: rgba(255,255,255,.22);
	padding: 2px;
	border: 1px solid transparent;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
a.inv:hover {
	border: 1px dotted #fff;
}


/* all buttons */
button.orange, input.submit, a.orange {
	-moz-box-shadow: inset 0px 1px 3px 0px #ffffff, 0px 0px 7px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0px 1px 3px 0px #ffffff, 0px 0px 7px 2px rgba(0,0,0,0.3);
	box-shadow:inset 0px 1px 3px 0px #ffffff, 0px 0px 7px 2px rgba(0,0,0,0.3);

	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #c28344;
	
	background-color:#d58600;
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.01));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.35)), to(rgba(255, 255, 255, 0.01)));
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.01));
	
	display:inline-block;
	color:#fff;
	font-family:"Salaman", Courier New, Courier, sans-serif;
	font-size:19px;
	padding:8px 28px;
	text-decoration:none;
	text-shadow:1px 1px 0px #80581b;
	cursor: pointer;

	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-ms-transition: background-color 0.2s;
	transition: background-color 0.2s;	
}
button.orange:hover, a.orange:hover, input.submit:hover {
	background-color:#ed9500;
}

button.orange:active, a.orange:active, input.submit:active {
	position:relative;
	top:1px; left: 1px;
	-moz-box-shadow: inset 0px 1px 3px 0px #ffffff, 0px 0px 3px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0px 1px 3px 0px #ffffff, 0px 0px 3px 1px rgba(0,0,0,0.5);
	box-shadow:inset 0px 1px 3px 0px #ffffff, 0px 0px 3px 1px rgba(0,0,0,0.5);
}

input.submit:disabled {
	cursor: default;
}

p.big, .big p {
	font: 23px/29px "Salaman", Courier New, Courier, sans-serif;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
}

#planets div {
	position: absolute;
	text-indent: -1000em;
}

#footer {
	position: fixed;
	z-index: 100;
	bottom: 0; left: 0;
	width: 100%; height: 50px;
	background: url(../i/grass.png) repeat-x;
}
#footer .footContents {
	width: 910px;
	margin: 0 auto;
}
#footer .fb-like {
	width: 400px;
	margin: 26px auto 0;
	position: relative;
	text-align: left;
	float: left;
}

#footer .copyR {
	float: right;
	margin: 26px 0 0;
	color: rgba(255,255,255,0.8);
	font-size: 13px;
}

.dropshad {	/* generic */
	-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
}

img.floatR {
	float:right;
	margin:0 0 20px 20px
}


/*
 * INNER
 *
 */

body {
	background-image: none, url(../i/gradient.png);
	background-position: 100% 30px, 50% 0;
	background-repeat: no-repeat, repeat-y;
}
body.pic-shuttle {
	background-image: url(../i/bgpics/shuttle.png), url(../i/gradient.png);
}
body.pic-sii {
	background-image: url(../i/bgpics/sii-exploded.png), url(../i/gradient.png);
}
body.pic-naut {
	background-image: url(../i/bgpics/naut.png), url(../i/gradient.png);
}
body.pic-lunar {
	background-image: url(../i/bgpics/lunar.png), url(../i/gradient.png);
	background-position: 100% 130px, 50% 0;
}


/* head */

#headSection {
	width: 100%;
	text-align: center;	
	overflow: hidden;
}
#headContainer {
	width: 900px;
	position: relative;
	margin: 45px auto;
}
h1 {
	width: 226px; height: 66px;
	background: url(../i/logo.png) no-repeat;
	text-indent: -1000em;
	float: left;
}
h1 a {
	display: block;
	width: 226px; height: 66px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;	
}
h1 a:hover {
	background: rgba(255,255,255,0.2);
}

#headSection .orange {
	float: right;
}

#planets {
	clear: both;
}
#planets #p1 {
	top: -130px; left: 315px;
	background: url(../i/planets/4.png);
	width: 148px; height: 148px;
}
#planets #p2 {
	top: -20px; left:-80px;
	background: url(../i/planets/6.png);
	width: 41px; height: 41px;
}
#planets #p3 {
	top:60px; left: 260px;
	background: url(../i/planets/5.png);
	width:21px; height:21px;
}

/* body */

#main {
	width: 930px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}
h2, h3 {
	font: 36px/36px "Salaman", Courier New, Courier, sans-serif;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
}
h2 {
	white-space: nowrap;
}
h3 {
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 0.5em;
}
h3.dots {
	display: inline;
	border-bottom: 1px dotted #fff;
}
p, h4, li, label {
	margin: 0.8em auto;
	text-align:left;	
	text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
}
p.big, h4 {
	font: 22px/25px "Salaman", Courier New, Courier, sans-serif;
}
h4 {
	border-bottom: 1px dotted #fff;
	display: inline;
}
li {
	margin-left: 2em;
}

/* ==== */

/* basic page */

#basicPage {
	margin: 0 15px;
	padding-bottom: 65px;
}
