blockquote {
	background: url(../i/bq/quote.png) 0 5px no-repeat;
	padding: 0 0 30px 140px;
	margin-bottom: 30px;
	position: relative;
	
	border-top: 1px dotted rgba(255,255,255,0.7);
	padding-top: 30px;
	padding-bottom: 0;
	background-position: 0 35px;
}
blockquote.webby {
	background-image: url(../i/bq/webby.png);
	padding-bottom: 10px;
}

@media only screen and (max-width:500px) {
    blockquote {
        padding-left:70px;
        background-size: 47px;
    }
}

blockquote p {
	margin: 0 0 0.8em;
}

cite {
	font: 14px "Salaman";	
	text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
}
cite:before {
	content: "\2014 ";
}