/* hide the carousel until it's been javascripted */

#portfolioCarousel {
	display: none;
}
.jcarousel-container #portfolioCarousel {
	display: block;
}


/*
 * main portfolio page
 *
 */

h2 + .entry, h2 + .entry + .entry {
	margin-top: 35px;
}
.entry {
	float: left; margin: 25px 25px 0 0;
	width: 420px;
}
@media only screen and (max-width:800px) {
    .entry {
        width:100%;
        display: block;
    }
}


.entry p {
	padding-bottom: 5px;
	//text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.entry img {
	float: left; margin-right: 10px;
	width: 128px; height: 128px;
	border: 4px solid #f09e39;
	-moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.3);
	
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-ms-transition: all 0.25s;
	transition: border-color 0.25s;
}
@media only screen and (max-width:500px) {
    .entry img {
        width:60px;
        height:60px;
    }
}
.entry a:hover img {
	border-color:  #fff;
}
.entry a * {
	color: #fff;
}
.entry a {
	display: block;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-ms-transition: all 0.25s;
	transition: background 0.25s;
}
.entry a:hover {
	background: #6b8b75;
}

