#copy {
	margin-left: 15px;
	width: 800px;
    max-width: 95%;
}

#we-do-list,
#we-do-defns {
	display: inline-block;
	width: 405px; height: 620px;
	position: relative;
    max-width: 46%;
}
	#we-do-list .desc {
		position: relative;
		height: 70px; display: block;
		padding: 11px 10px 15px; margin: 0 0 10px;
		color: #fff;
		
		-webkit-transition: all 0.25s;
		-moz-transition: all 0.25s;
		-ms-transition: all 0.25s;
		transition: all 0.25s;
	}
	#we-do-list .desc:hover,
	#we-do-list .desc.hover,
	#we-do-list .desc.selBox {
		background: #6b8b75;
	}
	#we-do-list em {
		font-style: normal;
	}
	#we-do-list .desc:hover em {
		border-bottom: 1px dotted white;
	}
	#we-do-list .desc:hover h3 {
		color: inherit !important;
	}

#we-do-list .desc.selBox::after {
		position: absolute;
		top: 96px; right: 0px;
		width: 9px; height: 9px;
		background: url(../i/corners.png) 9px 0px;
		content: "";

		-webkit-transition: all 0.25s;
		-moz-transition: all 0.25s;
		-ms-transition: all 0.25s;
		transition: all 0.25s;
	}
	#we-do-list .desc.selBox:not(#desc1)::before {
		position: absolute;
		top: -9px; right: 0px;
		width: 9px; height: 9px;
		background: url(../i/corners.png) 9px 9px;
		content: "";

		-webkit-transition: all 0.25s;
		-moz-transition: all 0.25s;
		-ms-transition: all 0.25s;
		transition: all 0.25s;
	}

#we-do-defns {
	width: 500px;
}
	#we-do-defns .defn {
		height: 70px; width: 470px;
        max-width: 100%;
		margin-bottom: 10px;
		padding: 11px 16px 15px;
		background: rgba(107,139,117,0.1);
		position: absolute;
		overflow: hidden;
		
		-webkit-transition: all 0.25s;
		-moz-transition: all 0.25s;
		-ms-transition: all 0.25s;
		transition: all 0.25s;
	}
	#we-do-defns #defn1 { top: 0px }
	#we-do-defns #defn2 { top: 106px }
	#we-do-defns #defn3 { top: 212px }
	#we-do-defns #defn4 { top: 318px }
	#we-do-defns #defn5 { top: 424px }
	#we-do-defns #defn6 { top: 530px }
	
	.defn:hover, .defn.hover {
		background: #6b8b75 !important;
	}
	.defn img {
		display: block;
		margin: -3px -6px 15px;
		-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
		border: 2px solid #f09e39;
        max-width: 100%;

		-webkit-transition: all 0.25s;
		-moz-transition: all 0.25s;
		-ms-transition: all 0.25s;
		transition: all 0.25s;
	}
	.defn:hover img, .defn.hover img, .defn.fullBox img {
		border-color:  #fff;
	}

	.defn.fullBox {
		background: rgba(107,139,117,0.9) !important;
		top: 0 !important;
		height: 600px !important;
		z-index: 100 !important;
	}
	.defn.hideBox {
		opacity: 0 !important;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	
	.defn h4 span {
		float: right;
		font-size: 11px;
		text-transform: uppercase;
	}
	
	.defn p {
		font-size: 15px;
	}

#we-do-list h3 {
	font-size: 25px; line-height: 24px;
	font-weight: normal;	
	margin: 0 0 0.5em;
	//text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}
    @media only screen and (max-width:900px) {
        #we-do-list h3 { font-size: 20px }
        #we-do-list p  {
            line-height:14px;
            font-size:13px
        }
    }

#we-do-list .desc:hover h3 {
	color: #f09e39;
}
#we-do p {
	text-shadow: 1px 1px 0 rgba(0,0,0,0.7);
}
p.dotTop {
	margin-top: 20px; padding-top: 16px;
	border-top: 1px dotted #fff;
	text-align: center;
}

/* ------ */

@media only screen and (max-width:660px) {

    #we-do-list { display: none }

    #we-do-defns { 
      max-width: 100%;
      height: auto;
      margin-bottom: 40px;

      h4 a { display: none }
      .defn {
        height: auto;
        width: auto;
        position: static;

        .defCon { display: none }

        &.fullBox {
          height:  auto !important;
          .defCon { display: block }
        }
        &.hideBox {
          opacity: 0.5 !important;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        }
      }
    }
}
