@font-face {
    font-family: 'Salaman';
    src: url('salaman.eot');
    src: url('salaman.eot?#iefix') format('embedded-opentype'),
         url('salaman.woff') format('woff'),
         url('salaman.ttf') format('truetype'),
         url('salaman.svg#salaman') format('svg');
    font-weight: normal;
    font-style: normal;
}